<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<script type="text/javascript" src="{% static "jquery-3.1.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "moment.js" %}"></script>
    <title>时刻</title>
</head>
<body>
	<input type="text" id="add_word_input" />
	<button id="add_word_button" onclick="add_word()">submit</button>
	<!--form id="add_word_form" method="post" onsubmit="return add_word()">
		{% csrf_token %}
    	<input type="text" name="word" />
    	<input type="submit" value="submit">
	</form-->

	{% for word in word_list %}
		{{ word }}<br />
	{% endfor %}
</body>
</html>